.popup-page {
  font-family: sans-serif;
  display: inline-grid;
  row-gap: 1em;
}

.popup-page label {
  grid-column: 1;
}

.popup-page input {
  grid-column: 2;
}

details {
  font-family: sans-serif;
}